<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>BSC-Awards</title>

    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css">

  </head>
  <body>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- TODO: Change the navbar-brand text to the currently presenting year level. -->
      <!-- HACK: There must be a better way -->
      <span class="navbar-brand mb-0 h1">{{ config['NAVBAR_BRAND'] }}</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown {% if request.path == '/main' %} active {% endif %}">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Presenter View</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <p class="text-center">Select a year level:</p>
              <div class="dropdown-divider"></div>
              {% for year in config['YEAR_LEVELS'] %}
                <a class="dropdown-item" href="{{ url_for('MainView:index', year_level=year, page=0) }}">{{ 'Year {}'.format(year) }}</a>
              {% endfor %}
            </div>
          </li>
          <li class="nav-item {% if request.path == '/attendance' %} active {% endif %}">
            <a class="nav-link" href="{{ url_for('AttendanceView:index') }}">Attendance Tracker {% if request.path == '/attendance' %}<span class="sr-only">(current)</span>{% endif %}</a>
          </li>
        </ul>
        <form class="form-inline">
          <button class="btn btn-outline-secondary" type="button">Logout</button>
        </form>
      </div>
    </nav>

    {% block body %}
    {% endblock %}

  </body>
</html>
