# Tests REPORT

In general the tests went well. There were a few small issues that were mitigated in subsequent pull requests.
The getting a hold of Mr Skewes as he was busy for my second usability test so I used Mr Pitfield as he is kind of the target 
audience for the application and as he is a self proclaimed "Luddite" he could point out small usability issues
in the GUI. The testing tables pointed out some issues in the GUI. The testing table also pointed out the lack
of unit tests for the GroupManager which was solved in a pull request. 
