{% extends "header.html" %}

{% block body %}
  {% block content %}
  {% endblock %}

  <!-- TODO: Progress bar maybe -->

  <div class="container text-center fixed-bottom mb-4">
    <div class="btn-group btn-group">
      <a href="{{ url_for('MainView:index', year_level=year_level, page=page - 1) }}" class="btn btn-dark shadow border">Back</a>
      <a href="{{ url_for('MainView:index', year_level=year_level, page=page - 1) }}" class="btn btn-light shadow border">{{ page - 1 }}</a>
      <a href="{{ url_for('MainView:index', year_level=year_level, page=page) }}" class="btn btn-light shadow border active">{{ page }}</a>
      <a href="{{ url_for('MainView:index', year_level=year_level, page=page + 1) }}" class="btn btn-light shadow border">{{ page + 1 }}</a>
      <a href="{{ url_for('MainView:index', year_level=year_level, page=page + 1) }}" class="btn btn-dark shadow border">Next</a>
    </div>
  </div>
{% endblock %}
