{% extends "header.html" %}

{% block body %}
  {% block content %}
  {% endblock %}

  <!-- TODO: Progress bar maybe -->

  <div class="container text-center fixed-bottom mb-4">
    <div class="btn-group btn-group">
      <a href="#" class="btn btn-dark shadow border">Back</a>
      <a href="#" class="btn btn-light shadow border">1</a>
      <a href="#" class="btn btn-light shadow border active">2</a>
      <a href="#" class="btn btn-light shadow border">3</a>
      <a href="#" class="btn btn-dark shadow border">Next</a>
    </div>
  </div>
{% endblock %}
