{% extends "main/header.html" %}

{% block content %}
<div class="container">
  <div class="container mb-5 mt-5">
    <h4 class="text-center font-weight-light mb-1">Full Name:</h4>
    <h1 class="text-center">
      {{ student.full_name }}
    </h1>
  </div>
  <ol class="list-group">
    <h3 class="text-center list-group-item font-weight-light">Awards:</h3>
    {% for award in awards %}
      <li class="text-center list-group-item">{{ award.award_name }}</li>
    {% endfor %}
  </ol>
</div>
{% endblock %}
