{% extends "header.html" %}

{% block body %}
<form class="container mt-5 needs-validation" id="attendanceForm" novalidate>
  <div class="form-group">
    <label for="studentCode">Student Code</label>
    <input type="text" name="studentCode" class="form-control" id="studentCode" placeholder="Enter Student Code" onchange="checkAndSubmit()" required>
    <div class="invalid-feedback">
      Please enter a student code.
    </div>
  </div>
  <div class="form-group">
    <label for="fullName">Full Name</label>
    <input type="text" class="form-control" id="fullName" value="{{ fullname }}" readonly>
  </div>
  <div class="form-group">
    <label for="formGroup">Form Group</label>
    <input type="text" class="form-control" id="formGroup" value="{{ form_group }}" readonly>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" name="attending" class="form-check-input" id="attendingCheckbox">
    <label class="form-check-label" for="attendingCheckbox">Attending</label>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

<script>
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();

function checkAndSubmit()
{
  if (document.getElementById('studentCode').textLength >= 7)
  {
    // TODO: Use an ajax request instead
    document.getElementById('attendanceForm').submit();

  }
}
</script>
{% endblock %}
