<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>BSC-Awards</title>

    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css"/>

  </head>

  <body>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <div class="container">
      <button class="mt-2 mb-3 btn btn-outline-primary btn-block d-print-none" onclick="window.print();">Print</button>

      {{ table.__html__() | safe }}

    </div>
  </body>
</html>
